[data-theme="dark"] {
    --bg-body-color: #262626;
    --grid-color: #3a3a3a;
    --text-color: #c9c5c5;
    --heading-color: #c9c5c5;
    --sub-heading-color: #c9c5c5;
    --bg-footer: #d6d6d6;
    --text-footer-color: #262626;

    --hover-bg-card-color: #0b0b0b;
}
