[data-theme="white"] {
    --bg-body-color: #bbd9dc;
    --bg-header-color: #bbd9dc;
    --grid-color: #c9e2e4;
    --text-color: #000;
    --heading-color: #000;
    --sub-heading-color: #000;
    --bg-footer: #d4e5e6;
    --text-footer-color: #000;
    --hover-bg-card-color: #90c4ca;
}
