body[data-theme="black"] {
    --bg-body-color: #1b1c1d;
    --grid-color: #7e7c7c;
    --text-color: #d29696;
    --heading-color: #868484;
    --sub-heading-color: #626262;
    --bg-card-color: #141b25;
    --bg-footer: #adaaaa;
    --footer-text-color: #101011;

    --hover-text-color: #b15757;
    --hover-heading-color: #701313;
    --hover-sub-heading-color: #b44343;
    --hover-bg-card-color: #2c249c;
}
