.theme[data-theme="white"] {
    --bg-body-color: #f5f7fa;
    --grid-color: #e3e2e2;
    --text-color: #302f2f;
    --heading-color: #000;
    --sub-heading-color: #000;
    --bg-card-color: #f5f7fa;
    --bg-footer: #000;
    --footer-text-color: #f5f7fa;

    --hover-text-color: #302f2f;
    --hover-heading-color: #000;
    --hover-sub-heading-color: #000;
    --hover-bg-card-color: #d9d9d9;
}
